.about-me{
    background-color: #f3f3f3;
    position: relative;
    // &::before{
    //     content: '';
    //     position: absolute;
    //     top: 0;
    //     right: 0;
    //     width: 100%;
    //     height: 100%;
    //     background-image: url('../../images/about-bg5.jpg');
    //     background-size: cover;
    //     background-repeat: no-repeat;
    //     background-position: center center;
    //     background-attachment: fixed;
    //     opacity: 0.8;
    // }
    .title-container{
        margin-bottom: 2rem;
        .my-title{
            display: inline-block;
            position: relative;
            font-weight: 400;
            padding: 0px 10px 10px;
            border-radius: 3px;
            &::before{
                content: '';
                position: absolute;
                top: 50%;
                right: 0;
                transform: translateY(-50%);
                width: 3px;
                height: 60%;
                background-color: $secondary-color;
            }
            // &::before{
            //     content: '';
            //     position: absolute;
            //     bottom: 50%;
            //     right: 10px;
            //     transform: translateY(-50%);
            //     height: 3px;
            //     width: 15px;
            //     background-color: darken($secondary-color, 4);
            //     transition: 0.3s;
            // }
            // &:hover{
            //     &::before{
            //         transform: rotate(90deg);
            //         width: 20px;
            //     }
            // }
        }
    }
    .row{
        direction: rtl;
        .my-card{
            position: relative;
            margin-bottom: 30px;
            padding: 30px 20px;
            background-color: #fff;
            width: 100%;
            box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.15);
            border-radius: 3px;
            z-index: 0;
            i{
                font-size: 40px;
                color: darken($primary-color, 15);
                margin-bottom: 15px;
                transition: 0.5s;
            }
            h4{
                font-weight: 400;
                word-spacing: 0px;
                font-size: 25px;
                transition: 0.5s;
            }
            p{
                text-align: justify;
                text-justify: inter-word;
                line-height: 24px;
                transition: 0.5s;
                @include lg-size(){
                    min-height: 97px;
                }
                @include md-size(){
                    min-height: 145px;
                }
                @include sm-size(){
                    min-height: auto;
                }
            }
            &::before{
                position: absolute;
                content: '';
                top: 0;
                left: 0;
                width: 0;
                height: 100%;
                background-color: #1d1c21;
                opacity: 0;
                transition: 0.5s;
                z-index: -1;
            }
            &:hover{
                &::before{
                    width: 100%;
                    opacity: 1;
                }
                i, h4, p{
                    color: rgba(255, 255, 255, 0.7);
                }
                
            }
        }
    }
}