$header-bg1: url('../../images/header-bg1.jpg');
$h1-color: #eff4f5;

.header{
    display: flex;
    align-items: center;
    position: relative;
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100%;
    background-image: $header-bg1;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    z-index: 1;
    &::before{
        content: '';
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background-color: rgba(0, 0, 0, .5);
        z-index: -1;
    }
    nav{
        position: absolute;
        top: 0;
        width: 100%;
        z-index: 100;
        padding-top: 0;
        padding-bottom: 0;
        margin: 12px 0 8px;
        @include sm-size(){
            padding: 0 5px;
            margin: 8px 0;
            
        }
        &.navbar-dark{
            background-color: transparent !important;
        }
        button{
            display: block;
            border: none;
            &:focus{
                outline: none;
                border: none;
            }
        }
        .navbar-nav{
            padding-right: 0;
            direction: rtl;
            .nav-item{
                @include sm-size(){
                    display: flex;
                    
                }
                .nav-link{
                    padding: 4px 12px 8px;
                    color: rgba(255, 255, 255, 0.8);
                    position: relative;
                    z-index: 1;
                    &::before{
                        content: '';
                        position: absolute;
                        bottom: 0;
                        right: 0;
                        height: 3px;
                        width: 100%;
                        background-color: darken($primary-color, 4);
                        opacity: 0;
                        transition: width 0.5s;
                        z-index: 0;
                        @include sm-size(){
                            display: none;
                        }
                    }
                    &::after{
                        content: '';
                        position: absolute;
                        top: 0;
                        bottom: 0;
                        right: 0;
                        height: 100%;
                        width: 0;
                        background-color: rgba(0, 0, 0, .2);
                        border-radius: 2px;
                        transition: width 0.3s;
                        z-index: -1;
                        @include sm-size(){
                            display: none;
                        }
                    }
                    &:hover{
                        &::before{
                            opacity: 1;
                            width: 0;
                        }
                        &::after{
                            width: 100%;
                            transition-delay: 0.4s;
                        }
                        @include sm-size(){
                            display: none;
                        }
                    }
                }
            }
        }
        .my-show{
            display: block;
            .nav-item{
                .nav-link{
                    &:hover{
                        display: block;
                    }
                }
            }
        }
    }
    .my-icons{
        position: absolute;
        bottom: 0;
        left: 0;
        display: flex;
        flex-direction: column;
        padding: 0 0 10px 20px;
        z-index: 200;
        @include sm-size(){
            top: 0;
            padding: 10px 0 0 15px;
        }
        a{
            margin-bottom: 5px;
            color: #fff;
            -webkit-text-fill-color: transparent;
            -webkit-text-stroke-width: .5px;
            -webkit-text-stroke-color: rgba(255, 255, 255, 0.9);
            font-size: 30px;
            @include sm-size(){
                margin-bottom: 5px;
                font-size: 25px;
            }
        }
    }

    .container{
        .row{
            .text-area{
                direction: rtl;
                color: #fff;
                // margin-right: 30px;
                @include sm-size(){
                    order: 2;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    padding: 10px 25px 0;
                }
                h1{
                    position: relative;
                    font-size: 30px;
                    padding: 5px 0;
                    margin: 10px 0;
                    color: $h1-color;
                    font-weight: 500;
                    text-shadow: 1px 1px 3px rgba(0, 0, 0, .8);
                    @include sm-size(){
                        font-size: 25px;
                    }
                }
                .my-stroke{
                    width: 100%;
                    height: 5px;
                    background-color: rgba(255, 255, 255, 0.8);
                    background-color: $primary-color;
                    border-radius: 5px;
                    margin-bottom: 20px;
                    @include sm-size(){
                        width: 70%;
                    }
                }
                p{
                    font-size: 1.1rem;
                    margin-bottom: 2rem;
                    text-align: justify;
                    text-shadow: 1px 1px 5px #000;
                    @include sm-size(){
                        width: 95%;
                    }
                }
            }
            .box{
                width: 90%;
                background-color: transparent;
                padding: 5px;
                border: 3px solid rgba(255, 255, 255, 0.6);
                border-color: $primary-color;
                border-radius: 50%;
                @include md-size(){
                    width: 100%;
                }
                @include sm-size(){
                    order: 1;
                }
                img{
                    width: 100%;
                    border-radius: 50%;
                    
                }
            }
        }
    }
    
}